aws_region       = "sa-east-1"
project_name     = "patch-management-demo"
environment      = "prod"
instance_type    = "t3.micro"
ami_id           = "ami-xxxxxxxxxxxxxxxxx"
key_name         = ""
subnet_id_az1    = "subnet-xxxxxxxxxxxxxxxxx"
subnet_id_az2    = "subnet-xxxxxxxxxxxxxxxxx"
subnet_id_az3    = "subnet-xxxxxxxxxxxxxxxxx"
allowed_ssh_cidr = "0.0.0.0/0"
